{{!-- Renders an article object ('this') --}}
<div class="container grid-xl">
  <div class="panel">
    <div class="panel-header">
      <div class="panel-title h5">{{this.headline}}</div>
    </div>
    <div class="panel-body">
      <p>{{this.summary}}</p>
    </div>
  </div>
</div>