<div class="container">
  <header class="navbar">
    <div class="columns">
      <div class="column col-12 my-2">
        <section class="navbar-section">
          <a href="/" class="navbar-brand mr-2">Mongo News</a>
          <a href="#" class="btn mr-2">Saved Articles</a>
          <a href="#" class="btn btn-primary">Scrape New Articles</a>
        </section>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <div class="bg-gray text-center p-2">
    <h2>Mongo News</h2>
    <p>Smashing Magazine Addition</p>
  </div>
</div>

{{#each articles}}
  {{> article-panel}}
{{/each}}

{{!-- display when no articles are populated --}}
{{#unless articles}}
  <div class="container grid-xl">
    <div class="panel">
      <div class="panel-header">
        <div class="panel-title h5">Scrape for news!</div>
      </div>
      <div class="panel-body">
        <p>It looks like there aren't any news articles yet. Press the 'Scrape New Articles' button above to get some articles.</p>
      </div>
    </div>
  </div>
{{/unless}}

<footer>
  <div class="container grid-xl">
    <a href="https://github.com/median-man/mongo-news" class="btn btn-link">Github</a>
  </div>
</footer>
